.avatar{
    max-width:128px;
    height:auto;
}
.userInfo{
    display: inline-block;
    padding:16px;
    margin:0;
}
.userInfo-wrapper{
    position:relative;
    vertical-align: baseline;
    line-height: 20px;
    color: black;
    font-size: 16px;
    max-width:256px;
    min-width:256px;
    height:auto;
    margin:8px;
    padding:16px;
    background-color: #00a838;
    box-shadow: 0 2px 6px grey;
    border-radius:8px;
}
.userInfo-wrapper:hover{
    padding:14px;
    border: 2px solid black;
}
.userInfo p{
    line-height: 20px;
    margin:0;
}
hr{
    border-color: black;
}
/* button {
    width: 128px;
    border: none;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    background-color: #00a838;
  } */
  
  /* button[type="submit"] {
    background-color: #00a838;
    color: white;
    font-size: 16px;
    padding: 8px;
  } */

  button {
    position:relative;
    display: block;
    margin:8px;
    /* vertical-align: middle; */
    line-height: 32px;
    background-color: #00a838;
    color: black;
    font-size: 16px;
    margin-top:16px;
    padding: 0;
    max-width: 258px;
    min-width:258px;
    height:48px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 6px grey;
    border-radius:8px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
  }
  button:hover{
    border: 2px solid black;
    
  }
  .github-logo
  {
    vertical-align: middle;
    line-height: 32px;
    max-width: 32px;
    max-height:32px;
    margin-left:8px;
  }
  .welcome{
    position: relative;
    
  }
  a{
      text-decoration: none;
      color:black
  }
  .search-input-wrapper{
    max-width:268px;
    height:140px;
    border: 2px solid #00a838;
    box-shadow: 0 2px 6px grey;
    border-radius:8px;
    font-size: 16px;
    padding: 8px;
    padding-top:32px;
    margin-top:16px;
    color:black;
    line-height: 20px;
}
p{
  margin:0;
  margin-left:8px;
  margin-bottom:8px;
}
input, .search-input{
    border: 2px solid #00a838;
    margin-left:8px;
    height:24px;
    padding-left:8px;
    color: black;
    line-height: 20px;
    font-size: 16px;
    margin-bottom:8px;
    border-radius:8px;
}
button.search-button{
    position: relative;
    margin:0;
    margin-left:8px;
    background-color: grey;
    max-width:208px;
    min-width:208px;
    height: 32px;
    
}